{% load custom_filter %}
{% if recommended_products %}
<div class="container recommended-section my-5">
    <h2 class="text-center">Recommended For You</h2>
    <div class="row">
        {% for product in recommended_products %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text"><b>{{ product.price|currency }}</b></p>
                    <a href="/product/{{ product.id }}" class="btn btn-primary btn-sm">View Product</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
